.header{
    display: flex;
    border-bottom: 1px solid lightgray;
    background-color: #fe2c54;

    justify-content: space-between;
    align-items: center;
    padding:10px;
}
.thunder__image{

height: 40px;
}
.moreicon{
    color:white;
    padding: 3px;
    background-color:rgb(2, 131, 2);
    border-radius: 50%;
}
.avatar{
     color:white;
}
